html{
  background-color: blueviolet;
}
.container-fluid{
  background-color: blueviolet;
}
.btn{
  background-color: brown;
}
input[type="text"]
{
  background-color: transparent;
  color:antiquewhite;
}
input[type="text"]:focus
{
  background-color: transparent;
  color:antiquewhite;
}